<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My first view</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <header class="top-header">
      <nav>
        <a href="/"> Home </a>
        <a href="/about"> About </a>
      </nav>
      <i> Site Logo </i>
    </header>
    {{{body}}}
    <script src="js/index.js"></script>
  </body>
</html>